<h2>Template Básicos</h2>
<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="guardar()"
               #miFormulario="ngForm"
               autocomplete="off"> <!--Esto es porque no quiero que google me traiga lo que escribi antes-->
            <!--Campo de producto-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                    <div class="col-sm-9">
                        <input type="text"
                                class="form-control"
                                placeholder="Nombre del producto"
                                [ngModel]="valoresInicialesFormulario.nombreProducto"
                                name="nombreProducto"
                                required
                                minlength="3"> 
                        <span *ngIf="nombreValido()"
                         class="form-text text-danger"> Debe ser de 3 letras</span>
                    </div>
            </div>
            <!--Campo de precio-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                    <div class="col-sm-9">
                        <input type="number"
                                class="form-control"
                                placeholder="Precio del producto"
                                [ngModel]="valoresInicialesFormulario.precioProducto"
                                name="precioProducto"
                                required
                                min="0">
                        <span *ngIf="precioValido()"
                        class="form-text text-danger"> El precio debe ser mayor o igual a cero</span>
                    </div>
            </div>
            <!--Campo de existencias-->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                    <div class="col-sm-9">
                        <input type="number"
                                class="form-control"
                                [ngModel]="valoresInicialesFormulario.existenciaProducto"
                                name="existenciaProducto"
                                customMin
                                [minimo]="0"
                                placeholder="Existencias del producto"
                                required>
                    </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            [disabled]="miFormulario.invalid">
                        Guardar
                        </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid: </span>
        <span>{{miFormulario.valid}}</span>
    </div>
    <div class="col">
        <span>Pristine: </span>
        <span>{{miFormulario.pristine}}</span>
    </div>
    <div class="col">
        <span>Touched: </span>
        <span>{{miFormulario.touched}}</span>
    </div>
    <div class="col">
        <span>Value: </span>
        <span>{{miFormulario.value | json}}</span>
    </div>
</div>