<h2>Validaciones Reactivas</h2>
<hr>
<div class="row">
    <div class="col">
        <form autocomplete="off"
              [formGroup]="miFormulario"
              (ngSubmit)="submitFormulario()">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre del usuario"
                           formControlName="nombre">
                    <span
                        class="form-text text-danger"
                        *ngIf="campoNoValido('nombre')">
                        El formato tiene que ser de tipo nombre y apellido
                    </span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           placeholder="Email del usuario"
                           formControlName="email">
                        <span
                           class="form-text text-danger"
                           *ngIf="campoNoValido('email')">                            
                           {{emailErrorsMsg}}
                       </span>
                    <!--<span
                        class="form-text text-danger"
                        *ngIf="emailRequired()">
                        El mail es obligatorio
                    </span>
                    <span
                        class="form-text text-danger"
                        *ngIf="emailFormato()">
                        Debe tener formato de email
                    </span>
                    <span
                        class="form-text text-danger"
                        *ngIf="emailTomado()">
                        El email ya se encuentra registrado en la base de datos
                    </span>-->
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre codigo del usuario"
                           formControlName="username">
                        <span
                           class="form-text text-danger"
                           *ngIf="campoNoValido('username')">
                           El username no puede ser 'albert'
                       </span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Password de su cuenta"
                           formControlName="password">
                        <span
                           class="form-text text-danger"
                           *ngIf="campoNoValido('password')">
                           La contraseña debe de ser mayor o igual de 6 caracteres
                       </span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Confirmar contraseña"
                           formControlName="password2">
                        <span
                           class="form-text text-danger"
                           *ngIf="campoNoValido('password2')">
                           Las contraseñas deben ser iguales
                       </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit"
                            [disabled]="miFormulario.pending">
                        Guardar
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</div>

<pre>Form Valid: {{miFormulario.valid}}</pre>
<pre>Form Status: {{miFormulario.status | json}}</pre>
<pre>Form Error: {{miFormulario.errors | json}}</pre>
<pre>Errores Nombre: {{miFormulario.controls.nombre.errors | json}}</pre>
<pre>Errores Email: {{miFormulario.controls.email.errors | json}}</pre>
<pre>Username: {{miFormulario.controls.username.errors | json}}</pre>
<pre>Password: {{miFormulario.controls.password.errors | json}}</pre>
<pre>Password2: {{miFormulario.controls.password2.errors | json}}</pre>